@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-menu-title-content a{
  text-decoration: none !important;
}
.item-info{
  margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ant-card{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.ant-card-body{
  padding: 15px !important;
}
.item-info Button{
  background-color: crimson;
  color: white;
  font-weight: 600;
  
}
.item-info Button:hover{
  background-color: rgb(2, 0, 92) !important;
  color: rgb(255, 255, 255) !important;

}
.ant-table-thead.ant-table-cell{
  font-weight: 700 !important;
}
.ant-table-cell img{
  border-radius: 5px;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.spinner-border {
  height: 100px;
  width: 100px;
}



.category {
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

.category img {
  margin-left: 10px;
}

.category-active {
  color: crimson;
}


